{% extends 'html\base.html'%}
{% load crispy_forms_tags %}
{% block title %}
    Delete Asset
{% endblock title %}
<!-- {% block nav%}
<li class="nav-item">
    <a class="nav-link" href="{% url 'assets' %}">Assets</a>
</li>
<li class="nav-item">
    <a class="nav-link" href="{% url 'employees' %}">Employee</a>
</li>
<li class="nav-item">
    <a class="nav-link" href="{% url 'register' %}">Register</a>
</li>
<li class="nav-item">
    <a class="nav-link" href="{% url 'logout' %}">Logout</a>
</li>
{% endblock nav%} -->
{% block body %}
    <h2>Are you sure you want to delete it..?</h2>
    <form method="post">
        {% csrf_token %}
        <input class="btn btn-primary" type="submit" value="Yes">
        <a href="{% url 'assets' %}" class="btn btn-danger">No</a>
    </form>
{% endblock body %}